.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
*.sqlite3
*.db
*.db3
missions/
data/
.env
config*.json
!config.docker.json.example
*.pbo
.vscode
.DS_Store
README.md
docs/
**/.pytest_cache
**/__pycache__
