# Django
SECRET_KEY=change-me-long-random
PLATFORM=DOCKER
ALLOWED_HOSTS=localhost,127.0.0.1,grecedecanards.fr
CSRF_TRUSTED_ORIGINS=https://grecedecanards.fr

# Chemins conteneur
MISSIONS_PBO_STORAGE_PATH=/data/missions_pbo
MISSIONS_STORAGE_PATH=missions
MISSIONS_IMAGES_STORAGE_PATH=missions/images
# SQLITE_PATH et MEDIA_ROOT sont définis dans docker-compose.yml

# Compose / host
HOST_PORT=6130
MISSIONS_PBO_HOST_PATH=/var/lib/pterodactyl/volumes/ffaffcc4-773f-490a-a116-76dd7109fe7e

# Optionnel gunicorn
GUNICORN_WORKERS=3
